# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/staticfiles/**

# Environnement
.env

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
